@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin button($color, $text) {
    background-color: $color;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    color: $text;
    text-decoration: none;
    transition: background-color .3s ease;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 10);
    }

    @include tablet {
        width: auto;
        display: inline-block;
        
    }
}

@mixin grid($columns, $gap ) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin bgImage($url, $gradientColor) {
    background-image: linear-gradient($gradientColor 0%, $gradientColor 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@mixin headingBorder( $textColor, $lineColor) {
    font-size: 3.6rem;
    display: inline-block;
    margin-top: 5rem;
    color: $textColor;
    @include tablet {
        margin-top: 0;
    }
    
    &::after {
        content: '';
        background-color: $lineColor;
        height: 1rem;
        width: calc(100% + 1rem);
        display: block;
        margin: -1.4rem 0 0 0;
    }
}